/* rules for body and images*/
body{
    background: linear-gradient(to left, #e2e2e2, #ffb69d);
}
img{
    max-width: 100%;
    display:block;
}
body, html {
    margin: 0;
    padding: 0;
}
/* rules for headers*/
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: linear-gradient(to left, #808080, #181818 );
    height: 220px;
    text-shadow: #181818 2px 2px;
    color:aliceblue;
    text-align: center;
}
header img {
    margin: auto;
}

/*rules for nav */
nav{
    position: -webkit-sticky;
    position: sticky;
    background: linear-gradient(to left, #808080, #181818);
    text-shadow: #181818 2px 2px;
    text-align: center;
}

header, nav{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

nav a{
    color:aliceblue;
    text-decoration: none;
    margin-right: 20px;
}
nav a:hover{
    color:#ff5748;
}

header h1, header h2, header p {
    margin: 0;
    padding: 0;
}

/* show mobile class, hide tablet class*/

.mobile{
    display:block;
}

.tablet-desktop {

    display:none;
}

/*fonts*/
header {
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0,
      "XELA" 0,
      "YELA" 0;
}

nav {
     font-family: "Kanit", sans-serif;
     font-weight: 400;
     font-style: normal;
    }

main{
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*main display*/
main{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

/* main display mobile rules*/
@media (max-width: 768px) {
    main {
        display:block;
        text-align: left;
    }
    header{
        padding: 10px;
    }
    nav{ 
        padding: 10px
    }
    header, nav{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    nav a{
        color:aliceblue;
        text-decoration: none;
        margin-right: 20px;
    }
    nav a:hover{
        color:#ff5748;
    }
    
    header h1, header h2, header p {
        margin: 0;
        padding: 0;
    }
    .blurb{
        display: none;

    }
}

/*style rules for main content*/

article p:first-child{
    font-weight: bolder;
}

.aside{
    background-color:#181818;
    color:aliceblue;
    text-shadow:#181818 5px 5px;
    text-align: center;
    width: 300px;
    height:min-content;
    border-color: #341509;
    border-radius: 10px;
    border-width: 10px;
    opacity: 0.3;
    box-shadow: #181818;
}

.figure img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    box-shadow:#181818 5px 5px 15px;
}

.figure figcaption {
font-size: 14px;
padding: 10px;
margin-top: 5px;
background-color: #a8b2b3;
border: 1px solid #181818;
border-radius: 5px;
text-align:center;
width:fit-content;
}

/*footer*/
footer{
    text-align: center;
    bottom: 0;

}

footer a{
    color:#181818;
    text-decoration: none;
    margin-right: 20px;
}
footer a:hover{
    color:#ff5748;
}

@media print{
    body {
        color:#181818;
        background: #e2e2e2;
    }
}


